discord.py[voice]
youtube_dl
pip
cffi==1.6.0; sys_platform == 'win32'
numpy==1.13.3

https://github.com/Imgur/imgurpython/archive/master.zip#egg=imgurpython
spotipy
pillow==8.1.0
moviepy
aiohttp
openpyxl
beautifulsoup4
discogs_client
python-dateutil
raven
imageio>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
